<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-10">
      <div>
        <div class="card mb-2 mt-2">
          <div class="card-body">
            <p>Titel: {{entryDTO.title}}</p>
            <p>Betrag: {{entryDTO.value}}€</p>
            <p>Fixkost: {{entryDTO.fixCost}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>


