<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-10">
      <div>
      <form>
        <div class="form-group mt-3">
          <label for="title">Titel</label>
          <input type="text" class="form-control" id="title" required aria-describedby="emailHelp" [(ngModel)]="entryDTO.title" name="title">
        </div>
        <div class="form-group">
          <label for="value">Summe</label>
          <input type="text" class="form-control" id="value" required aria-describedby="emailHelp" [(ngModel)]="entryDTO.value" name="value">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="checkFix" [(ngModel)]="entryDTO.fixCost" name="isFix" value="1">
          <label class="form-check-label" for="checkFix">Fix Kosten</label>
        </div>
        <button type="submit" class="btn btn-primary" (click)="addEntry()" >Eintrag anlegen</button>
      </form>
      <div class="card mb-2 mt-2" *ngFor="let entry of entries">
        <div class="card-body">
          <p>{{entry.title}}</p>
          <p>{{entry.value}} €</p>
          <p>{{entry.fixCost}}</p>
          <p>{{entry.clientId}}</p>
          <button class="btn btn-primary" routerLink="/entry/{{entry.clientId}}">Eintrag aufrufen</button>
        </div>
      </div>
    </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>

